.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	font-family: Gill Sans MT;
	color: rgb(0,96,147);
}

.reveal h1{
	font-size: 72px;

	/*position: fixed;*/
	/*top: -0.3em;*/
	/*margin-top: 0.65em !important; */
	/*left: 1.3em;*/

}

.myheader{
	right: 0px;
	position: absolute;
	max-height: 15%;
	max-width: 15%;
}

div.ifis_large{
	position: absolute;
	right: -80px;
	bottom: -80px;
}

.rise-enabled #exit_b{
	right: 0.5em;
	top: 0.5em;
	left: unset;
}

.reveal hr{
	background-color: rgb(150,191,13);
	height: 2px;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.1);
}


.reveal section.stack>section::-webkit-scrollbar,
.reveal section.stack::-webkit-scrollbar
{
  display: none;
}

.reveal .stack>section,
.reveal section.stack{
	overflow: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.reveal .output_subarea>pre,
.reveal .output_text>pre,
.reveal .output_stream>pre,
.reveal .output_stdout>pre
{
	//position: absolute;
	overflow: visible;
	width: auto;
}
.reveal .out_prompt_overlay::before{
	content: "Out:";
	position: absolute;
	right: 0;
	padding: 0.4em;
	font-weight: bold;
}

.reveal .prompt_container{
	display: none;
}

.reveal .cell{
	border: none;
}

.reveal .code_cell{
	display: grid;    
	grid-auto-columns: 50% 50%;	
	grid-auto-flow: column;
}

.text_cell{
	font-family: Gill Sans MT;
}

.rise-enabled #notebook-container{
	overflow: visible;
}


/* Different colors for different levels of indentation */
.reveal ul {
	margin-top: 0em;
}
.reveal ul li > ul li{
	color: rgb(31,73,125);
}
.reveal ul li >ul li > ul li{
	color: rgb(79,129,189);
}
.reveal ul li >ul li > ul li > ul li{
	color: rgb(31,73,125);
}
.reveal ul li >ul li > ul li > ul li > ul li{
	color: rgb(79,129,189);
}