.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	font-family: Gill Sans MT;
	color: rgb(0,96,147);
}

.reveal h1{
	font-size: 72px;
*/
	position: fixed;
	top: -0.3em;
	left: 1.3em;
*/
}

div.ifis_large{
	position: absolute;
	right: -80px;
	bottom: -80px;
}

.rise-enabled #exit_b{
	right: 0.5em;
	top: 0.5em;
	left: unset;
}

.text_cell{
	font-family: Gill Sans MT;
}

/* Different colors for different levels of indentation */
.reveal ul {
	margin-top: 0em;
}
.reveal ul li > ul li{
	color: rgb(31,73,125);
}
.reveal ul li >ul li > ul li{
	color: rgb(79,129,189);
}
.reveal ul li >ul li > ul li > ul li{
	color: rgb(31,73,125);
}
.reveal ul li >ul li > ul li > ul li > ul li{
	color: rgb(79,129,189);
}